<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Script Tutorials" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- attach CSS styles -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
	<!-- first section - Home -->
	<div id="home" class="home">
	  <div class="text-vcenter">
			<div class = 'welcome_background'>
				<h1 class = "welcome2">Alumni</h1>
				<h3 class = "welcome">Explore the individuals that took part in OKCoders</h3>
			</div>
	  </div>
	</div>
	<!-- /first section -->

	<!-- second section - About -->
	<div id="about" class="pad-section">
	  <div class="container">
			<div class="row">
			  <div class="col-sm-6">
					<img src="img/okcoders_logo.png" alt="" />
			  </div>
			  <div class="col-sm-6 text-center">
					<h2>The site you are exploring was actually developed by alumni of OKCoders!</h2>
					<p class="lead">In just a few short weeks, individuals in the first OKCoders class decided to use what they learned to develop a site. Pretty cool, huh?</p>
			  </div>
			</div>
	  </div>
	</div>
	<!-- /second section -->

	<!-- third section - Services -->
	<div id="services" class="pad-section">
	  <div class="container">
			<h2 class="text-center">Classes</h2> <hr />
			<form role="form">
				<div class="form-group">
					<label for="year-list">Year</label>
					<select id="year-list" class="form-control">
						<% classes.forEach(function (classObj)  { %>
							<option> <%= classObj.year %> </option>
						<% }) %>
					</select>
				</div>
				<div class="form-group">
					<label for="semester-list">Semester</label>
					<select id="semester-list" class="form-control disabled">
					</select>
				</div>
				<button type="submit" class="btn btn-default disabled hidden">Submit</button>
			</form>
	  </div>
	</div>
	<!-- /third section -->

	<!-- fourth section - Information -->
	<div id="information" class="pad-section">
	  <div class="container">
			<div id="students-list" class="row"></div>
		</div>
	</div>
	<!-- /fourth section -->

  <!-- attach JavaScripts -->
  <script src="javascripts/jquery-2.1.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript">
    var OKCoders = JSON.parse('<%- classesString %>');
	</script>
  <script src="javascripts/main.js"></script>
</body>
</html>